.slide {
  transition: transform 0.8s ease-in-out;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 80vh; /* ajusta según tu diseño */
  overflow: hidden;
}

.carousel-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-prev {
  left: 1rem;
}

.nav-next {
  right: 1rem;
}

